#editingArea{
    width: 100%;
}
/* Stijl voor de popup van image uploads */
.editPopup{
    overflow: auto;
    min-width: 700px;
}
.imageUpload{
    width: 50%;
    display: inline-block;
    min-width: 200px;
    float: left;
}
.imageUpload input{
    width: 100%;
    display: block;
}
.uploadSettings{
    width: auto;
    display: inline-block;
    width: auto;
    float: left;
}
#addCssElement{
    cursor: pointer;
}
.submitPopup{
    clear: both;
    float: right;
}